footer {
    background-color: black;
    height: 55vh;
    display: flex;
    justify-content: center;
  }
  .f1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25%;
    flex-direction: column;
  }
  .con-link.fconl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
  }
  .navigationf {
    color: white;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    margin-top: 26px;
  }
  .footer {
    color: white;
    align-items: center;
    display: flex;
    font-size: 20px;
  }
  .con-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  
  .portf {
    display: flex;
  }
  
  .cp {
    color: whitesmoke;
    padding-top: 13px;
    font-size: 21px;
    padding-left: 20px;
  }
  
  .cp.linked {
    padding-left: 33px;
  }
  
  .clog {
    height: 52px;
  }
  
  .clog.ins {
    margin-left: -13px;
  }
  a{
    text-decoration: none;
  }

  /* media query */

  @media (max-width: 1080px){
    footer {
        background-color: black;
        height: 40vh;
        display: flex;
        justify-content: center;
      }
    div.f1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 22%;
        flex-direction: column;
      }
      p.navigationf {
        color: white;
        font-size: 22px;
        display: flex;
        flex-direction: row;
        margin-top: 22px;
      }
      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 22%;
      }
      img.clog {
        height: 50px;
      }
  }
  @media (max-width: 950px){
    .cp.linked {
      padding-left: 6px;
    }
    div.f1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15%;
      flex-direction: column;
    }
      .navigationf {
        color: white;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        margin-top: 18px;
      }
      .footer {
        color: white;
        align-items: center;
        display: flex;
        font-size: 18px;
      }
      .footer {
        color: white;
        font-size: 17px;
      }
      .con-link.fconl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 25%;
      }
      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 15%;
      }
      img.clog {
        height: 40px;
      }
      .cp.linked {
        padding-left: 17px;
      }
      p.cp {
        color: whitesmoke;
        padding-top: 7px;
        font-size: 21px;
        padding-left: 10px;
        margin-left: -10px;
      }
      img.clog {
        height: 46px;
      }
  }
  @media (max-width: 750px){
    div.f1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12%;
        flex-direction: column;
      }
      p.navigationf {
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 14px;
      }
      .footer {
        color: white;
        align-items: center;
        display: flex;
        font-size: 15px;
      }
      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 12%;
      }
      img.clog {
        height: 40px;
      }
      .cp.linked {
        padding-left: 15px;
      }
      .cp {
        color: whitesmoke;
        padding-top: 6px;
        font-size: 21px;
        padding-left: 10px;
      }
  }
  @media(max-width:625px){
    .footer {
      color: white;
      align-items: center;
      display: flex;
      font-size: 13px;
    }
  }
  @media (max-width: 600px) {
    div.f1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8%;
      flex-direction: column;
    }
    p.navigationf {
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        margin-top: 3px;
      }
      footer {
        background-color: black;
        height: 30vh;
        display: flex;
        justify-content: center;
      }
      .footer {
        color: white;
        align-items: center;
        display: flex;
        font-size: 13px;
      }
      img.clog {
        height: 34px;
      }
      .cp.linked {
        padding-left: 9px;
      }
      .clog.ins {
        margin-left: -10px;
      }
      .cp {
        color: whitesmoke;
        padding-top: 6px;
        font-size: 18px;
        padding-left: 1px;
      }
  }
  @media(max-width:550px){
    .footer {
      color: white;
      align-items: center;
      display: flex;
      font-size: 11px;
    }
    p.cp{
      font-size: 16px;
      padding-left: 3px;
    }
  }

  @media (max-width: 512px) {
    footer {
        background-color: black;
        height: 20vh;
        display: flex;
        justify-content: center;
      }
    div.f1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6%;
        flex-direction: column;
      }
      .navigationf {
        color: white;
        font-size: 24px;
        display: flex;
        flex-direction: row;
        margin-top: 12px;
      }

      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 8%;
      }
      img.clog {
        height: 30px;
      }
      .cp.linked {
        padding-left: 6px;
      }
      .clog.ins {
        margin-left: -8px;
      }
      .cp {
        color: whitesmoke;
        padding-top: 6px;
        font-size: 16px;
        padding-left: 0px;
      }
  }
  @media (max-width: 450px) {
    div.f1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4%;
        flex-direction: column;
      }
      p.navigationf {
        color: white;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        margin-top: 3px;
      }
      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 6%;
      }
      img.clog {
        height: 28px;
      }
      .cp {
        color: whitesmoke;
        padding-top: 6px;
        font-size: 13px;
        padding-left: 0px;
      }
      .cp.linked {
        padding-left: 7px;
      }
      .clog.ins {
        margin-left: -7px;
      }
  }
  @media(max-width:400px){
    .footer {
      color: white;
      align-items: center;
      display: flex;
      font-size: 9px;
    }
  }
  @media (max-width: 360px) {
    footer {
      background-color: black;
      height: 17vh;
      display: flex;
      justify-content: center;
    }
    div.f1 {
        display: none;
        justify-content: center;
        align-items: center;
        margin-right: 2%;
        flex-direction: column;
      }
      p.navigationf {
        color: white;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
      }
      .footer {
        color: white;
        align-items: center;
        display: flex;
        font-size: 11px;
        justify-content: center;
        align-content: center;
      }
      img.clog {
        height: 23px;
      }
      .cp.linked {
        padding-left: 6px;
      }
      div.con-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 2%;
      }
      .cp {
        color: whitesmoke;
        padding-top: 6px;
        font-size: 11px;
        padding-left: 0px;
      }
      p.cp{
        padding-top: 3px;
      }

  }
  @media (max-width: 302px) {
    .cp.linked {
      padding-left: 10px;
    }
    p.cp {
      padding-top: 3px;
    }
  }